# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode
*.xcuserstate
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata 